body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Weather {
  border: 1px solid #dadde1;
  padding: 25px;
  margin: 30px auto;
  border-radius: 4px;
  color: rgb(167, 166, 166);
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}
.Weather ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.Weather h1 {
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.Weather .degrees {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  padding-left: 6px;
  vertical-align: top;
}
.Weather .temperature {
  font-size: xx-large;
}
.Weather canvas {
  margin-top: 15px auto;
}
